[submodule "code"]
    path = code
    url = git@github.com:Skeen/Thesis_Aslan_Code.git
    branch = master
[submodule "report"]
    path = report
    url = git@github.com:RasmusMJ/report.git
    branch = master
[submodule "project"]
	path = project
	url = git@github.com:RasmusMJ/project.git
	branch = master
